<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-gray-900">Create your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with model: @user, url: registrations_path, class: "space-y-6" do |f| %>
      <% if @user.errors.any? %>
        <div class="rounded-md bg-red-50 p-4 mb-4">
          <div class="text-sm text-red-700">
            <%= pluralize(@user.errors.count, "error") %> prevented saving:
            <ul class="list-disc pl-5 mt-1">
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div>
        <%= f.label :email_address, class: "block text-sm font-medium text-gray-900" %>
        <div class="mt-2">
          <%= f.email_field :email_address, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= f.label :password, class: "block text-sm font-medium text-gray-900" %>
        <div class="mt-2">
          <%= f.password_field :password, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-900" %>
        <div class="mt-2">
          <%= f.password_field :password_confirmation, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= f.submit "Sign Up", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer" %>
      </div>
    <% end %>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already a member?
      <%= link_to "Sign in here", new_session_path, class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
    </p>
  </div>
</div>
